/* font styles  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-simple {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
    background-color: rgb(245, 248, 255);
}
/* shared style  */
header, main{
    max-width: 1200px;
    margin: 0 auto;
}
.text-color{
    color: #8987A1;
}
.common-color{
    color: #e95a08;;
}
.btn-primary{
    background-color: #e95a08;
    color: white;
    border: none;
    width: 270px;
    height: 40px;
    font-weight: 600;

}

/* header section starts here  */

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container ul{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
}
.navbar-container ul a{
    text-decoration: none;
}
.first-child {
    font-weight: 700;
    color: rgb(62, 61, 74);
    font-size: medium;

}
.banner-heading-container h1{
    font-weight: 700;
    font-size: 3rem;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.banner-heading-container{
    padding-right: 8rem;
}

/* plants section style starts here 
 */
 .plants-heading-section{
    text-align: center;
    margin-bottom: 2rem;
 }
 .card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
 }
 
 
 .card-container h3{
    text-align: center;
 }
 .price{
    font-weight: bold;
    font-size: 22px;
    margin-top: 0;
 }

/* Responsive design starts here  */
@media screen and (max-width: 576px) {
    .menu-bar ul li {
        display: none;
    }
    .menu-bar ul li.cart-item {
        display: flex;
    }
    .banner-content{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .banner-img-container img{
        max-width: 100%;
    }
    .banner-heading-container{
        max-width: 100%;
        text-align: center;
        padding: 0;
    }
    .main{
        width: 100%;
    }
    .plants-heading-section{
        width: 100%;
    }
    /* .card{
    width: 270px; } */
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.2rem;
        width: 100%;
 }
 

}
    
